<h1>会員一覧</h1>

<%= search_form_for @q, url: search_admins_users_path do |f| %>
  <%= f.label :last_name_cont, '名前（姓）' %>
  <%= f.search_field :last_name_cont %>
  <%= f.label :first_name_cont, '名前（名）' %>
  <%= f.search_field :first_name_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>
<br>
<table>
  <thead>
    <th><%= sort_link(@q, :id, "会員ID") %></th>
    <th><%= sort_link(@q, :last_name, "名前") %></th>
    <th><%= sort_link(@q, :prefecture, "都道府県") %></th>
    <th>アクション</th>
  </thead>
  <tbody>
    <% @results.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.last_name %> <%= user.first_name %></td>
      <td><%= user.prefecture %></td>
      <td>
        <%= link_to "詳細", admins_user_path(user) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @results %>
<hr>

<br>

<%= link_to "TOPに戻る", admins_path %>
