<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>

<h1>送付先の新規登録</h1>

<%= form_with url: add_address_path, method: :post, class: :'h-adr' do |f| %>

  <table>
    <tr>
      <th>名前</th>
      <td>
        <%= f.text_field :last_name %> <%= f.text_field :first_name %>
        <% if @address.errors.include?(:last_name) %>
          <p class="error_message"><%= @address.errors.full_messages_for(:last_name).first %></p>
        <% end %>
        <% if @address.errors.include?(:first_name) %>
          <p class="error_message"><%= @address.errors.full_messages_for(:first_name).first %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>
        <%= f.telephone_field :phone_number %>（ハイフンなし）
        <% if @address.errors.include?(:phone_number) %>
          <p class="error_message"><%= @address.errors.full_messages_for(:phone_number).first %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>住所</th>
      <td>
        <span class="p-country-name" style="display:none;">Japan</span>
        郵便番号（ハイフンなし）<br>
        <%= f.text_field :postal_code, class: "p-postal-code" %><br>
        <% if @address.errors.include?(:postal_code) %>
          <p class="error_message"><%= @address.errors.full_messages_for(:postal_code).first %></p>
        <% end %>
        都道府県
        <%= f.text_field :prefecture, class: "p-region" %><br>
        <% if @address.errors.include?(:prefecture) %>
          <p class="error_message"><%= @address.errors.full_messages_for(:prefecture).first %></p>
        <% end %>
        市区町村
        <%= f.text_field :city, class: "p-locality" %><br>
        <% if @address.errors.include?(:city) %>
          <p class="error_message"><%= @address.errors.full_messages_for(:city).first %></p>
        <% end %>
        町名番地
        <%= f.text_field :address1, class: "p-street-address p-extended-address" %><br>
        <% if @address.errors.include?(:address1) %>
          <p class="error_message"><%= @address.errors.full_messages_for(:address1).first %></p>
        <% end %>
        建物名等<%= f.text_field :address2 %><br>
        <% if @address.errors.include?(:address2) %>
          <p class="error_message"><%= @address.errors.full_messages_for(:address2).first %></p>
        <% end %>
      </td>
    </tr>
  </table>

  <input type="submit" name="" value="登録">
<% end %>
<br>
<% if session[:previous_controller] == 'orders' %>
  <%= link_to "注文画面に戻る", order_path %>
<% else %>
  <%= link_to "送付先一覧に戻る", address_list_path %>
<% end %>
