<h1>商品新規登録</h1>

<%= form_with(model: @product, url: admins_products_path) do |form| %>

  <table>
    <tr>
      <th><%= form.label :name %></th>
      <td>
        <%= form.text_field :name %>
        <% if @product.errors.include?(:name) %>
          <p class="error_message"><%= @product.errors.full_messages_for(:name).first %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= form.label :detail %></th>
      <td>
        <%= form.text_area :detail %>
        <% if @product.errors.include?(:detail) %>
          <p class="error_message"><%= @product.errors.full_messages_for(:detail).first %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= form.label :price %></th>
      <td>
        <%= form.text_field :price %>
        <% if @product.errors.include?(:price) %>
          <p class="error_message"><%= @product.errors.full_messages_for(:price).first %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= form.label :image %></th>
      <td>
        <% if @product.image? %>
          <%= image_tag @product.image.url %>
        <% end %>
        <%= form.file_field :image %>
        <label>
          <%= form.check_box :remove_image %>
          画像を削除する
        </label>
      </td>
    </tr>
    <tr>
      <th>在庫</th>
      <td>
        <%= form.text_field :stock %>
        <% if @product.errors.include?(:stock) %>
          <p class="error_message"><%= @product.errors.full_messages_for(:stock).first %></p>
        <% end %>
      </td>
    </tr>
  </table>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "商品一覧へ戻る", admins_products_path %>
</div>
